# 2023: Week 1 The Data Source Bank
January 04, 2023
 Created by: Carl Allchin

Welcome to a New Year of Preppin' Data. These are weekly exercises to help you learn and develop data preparation skills. We publish the challenges on a Wednesday and share a solution the following Tuesday. You can take the challenges whenever you want and we love to see your solutions. With data preparation, there is never just one way to complete the tasks so sharing your solutions will help others learn too. Share on Twitter, LinkedIn, the Tableau Forums or wherever you wan too. Tag Jenny Martin, Tom Prowse or myself or just use the #PreppinData to share your solutions. 

The challenges are designed for learning Tableau Prep but we have a broad community who complete the challenges in R, Python, SQL, DBT, EasyMorph and many other tools. We love seeing people learn new tools so feel free to use whatever tools you want to complete the challenges. 

A New Year means we start afresh so January's challenges will be focused on beginners. We will use different techniques each week to help you develop your skills. In February, we will set the challenges at an intermediate level and then in March we will do some advanced challenges. January's challenges will have links to useful videos and blogposts to help you learn a technique if it is new to you. 

The subject for January will be our new (fake) bank -- The Data Source Bank (DSB). This week we have had a report with a number of transactions that have not just our transactions but other banks' too. Can you help clean up t## he data?

Input

In [1]:
import pandas as pd
df = pd.read_csv('preppin_data/unprepped_data/PD 2023 Wk 1 Input.csv')
df.head(5)

,Transaction Code,Value,Customer Code,Online or In-Person,Transaction Date
0,DTB-716-679-576,1448,100001,2,20/03/2023 00:00:00
1,DS-795-814-303,7839,100001,2,15/11/2023 00:00:00
2,DSB-807-592-406,5520,100005,1,14/07/2023 00:00:00
3,DS-367-545-264,7957,100007,2,18/08/2023 00:00:00
4,DSB-474-374-857,5375,100000,2,26/08/2023 00:00:00

## Requirements

Input the datile (help)

In [2]:
# enter your code here

Split the Transaction Code to extract the letters at the start of the transaction code. These identify the bank who processes the transaction

In [3]:
# enter your code here

Rename the new field with the Bank code 'Bank'.

In [4]:
# enter your code here

Rename the values in the Online or In-person field, Online of the 1 values and In-Person for the 2 values.

In [5]:
# enter your code here

Change the date to be the day of the week

In [6]:
# enter your code here

Different levels of detail are required in the outputs. You will need to sum up the values of the transactions in three ways:
1. Total Values of Transactions by each bank
2. Total Values by Bank, Day of the Week and Type of Transaction (Online or In-Person)
3. Total Values by Bank and Customer Code

In [7]:
# enter your code here

Output each data file

In [8]:
# enter your code here

## Output
### Output 1: Total Values of Transactions by each bank

Two data fields:
Bank 
Value
3 rows of data (4 including field headers)

In [9]:
solution_df1 = pd.read_csv('preppin_data/prepped_outputs/pd2023wk01_output1.csv')
solution_df1.head(5)

  Bank   Value
0   DS  653940
1  DSB  530489
2  DTB  618238

### Output 2: Total Values by Bank, Day of the Week and Type of Transaction

Four data fields:
Bank
Online or In-Person
Transaction Date
Value
42 rows of data (43 including field headers)

In [10]:
solution_df2 = pd.read_csv('preppin_data/prepped_outputs/pd2023wk01_output2.csv')
solution_df2.head(5)

  Bank Online or In-Person Transaction Date  Value
0   DS           In-Person           Friday  58599
1   DS           In-Person           Monday  42806
2   DS           In-Person         Saturday  34867
3   DS           In-Person           Sunday  51301
4   DS           In-Person         Thursday  75582

### Output 3: Total Values by Bank and Customer Code

Three data fields:
Bank
Customer Code
Value
33 rows of data (34 including field headers)

In [11]:
solution_df3 = pd.read_csv('preppin_data/prepped_outputs/pd2023wk01_output3.csv')
solution_df3.head(5)

  Bank  Customer Code  Value
0   DS         100000  57909
1   DS         100001  53063
2   DS         100002  69803
3   DS         100003  25482
4   DS         100004  63315